<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <title> {{title}} </title>
</head>
<body>
{% block content %}

    {% block mainmenu -%}
    <ul class="main_menu">
    {% for p in menu %}
        <li class="main_menu"><a href="{{p.url}}">{{p.title}}</a></li>
    {% endfor %}
    </ul>
    {% endblock mainmenu -%}

    <ul>
        {% if food%}
            {% for f in food%}
                <li><a href='{{url_for("food", name=f.name)}}'>{{ f.name }}</a></li>
            {% endfor %}
        {% endif %}
    </ul>

{% endblock content %}
</body>
</html>
